<!doctype html>
<html class="../../../../no-js" lang="en">
<head th:replace="Layout/layout :: head">

</head>

<body class="materialdesign">
    
    <!-- Header top area start-->
    <div class="wrapper-pro">
        <div th:replace="Layout/layout :: preloader"></div>
        <div th:replace="Layout/layout :: left_sidebar" class="left-sidebar-pro">
        </div>
        <!-- Header top area start-->
        <div class="content-inner-all">
            <div th:replace="Layout/layout :: header" class="header-top-area">
            </div>
            <!-- Header top area end-->
            <!-- Breadcome start-->
            <div class="breadcome-area mg-b-30 small-dn">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="breadcome-heading">
                                            <form role="search" class="">
												<input type="text" placeholder="Search..." class="form-control">
												<a href=""><i class="fa fa-search"></i></a>
											</form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <ul class="breadcome-menu">
                                            <li><a href="#">INICIO</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">ANFORA</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcome End-->
            <!-- Mobile Menu start -->
            <div th:replace="Layout/layout :: mobile" class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        <li><a data-toggle="collapse" data-target="#Charts" href="#">Home <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                            <ul class="collapse dropdown-header-top">
                                                <li><a href="dashboard.html">Dashboard v.</a>
                                                </li>
                                                <li><a href="dashboard-2.html">Dashboard v.2</a>
                                                </li>
                                                <li><a href="analytics.html">Analytics</a>
                                                </li>
                                                <li><a href="widgets.html">Widgets</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#demo" href="#">Mailbox <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                            <ul id="demo" class="collapse dropdown-header-top">
                                                <li><a href="inbox.html">Inbox</a>
                                                </li>
                                                <li><a href="view-mail.html">View Mail</a>
                                                </li>
                                                <li><a href="compose-mail.html">Compose Mail</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#others" href="#">Miscellaneous <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                            <ul id="others" class="collapse dropdown-header-top">
                                                <li><a href="profile.html">Profile</a>
                                                </li>
                                                <li><a href="contact-client.html">Contact Client</a>
                                                </li>
                                                <li><a href="contact-client-v.1.html">Contact Client v.1</a>
                                                </li>
                                                <li><a href="project-list.html">Project List</a>
                                                </li>
                                                <li><a href="project-details.html">Project Details</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">Interface <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                            <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                                <li><a href="google-map.html">Google Map</a>
                                                </li>
                                                <li><a href="data-maps.html">Data Maps</a>
                                                </li>
                                                <li><a href="pdf-viewer.html">Pdf Viewer</a>
                                                </li>
                                                <li><a href="x-editable.html">X-Editable</a>
                                                </li>
                                                <li><a href="code-editor.html">Code Editor</a>
                                                </li>
                                                <li><a href="tree-view.html">Tree View</a>
                                                </li>
                                                <li><a href="preloader.html">Preloader</a>
                                                </li>
                                                <li><a href="images-cropper.html">Images Cropper</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#Chartsmob" href="#">Charts <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                            <ul id="Chartsmob" class="collapse dropdown-header-top">
                                                <li><a href="bar-charts.html">Bar Charts</a>
                                                </li>
                                                <li><a href="line-charts.html">Line Charts</a>
                                                </li>
                                                <li><a href="area-charts.html">Area Charts</a>
                                                </li>
                                                <li><a href="rounded-chart.html">Rounded Charts</a>
                                                </li>
                                                <li><a href="c3.html">C3 Charts</a>
                                                </li>
                                                <li><a href="sparkline.html">Sparkline Charts</a>
                                                </li>
                                                <li><a href="peity.html">Peity Charts</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#Tablesmob" href="#">Tables <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                            <ul id="Tablesmob" class="collapse dropdown-header-top">
                                                <li><a href="static-table.html">Static Table</a>
                                                </li>
                                                <li><a href="data-table.html">Data Table</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#formsmob" href="#">Forms <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                            <ul id="formsmob" class="collapse dropdown-header-top">
                                                <li><a href="basic-form-element.html">Basic Form Elements</a>
                                                </li>
                                                <li><a href="advance-form-element.html">Advanced Form Elements</a>
                                                </li>
                                                <li><a href="password-meter.html">Password Meter</a>
                                                </li>
                                                <li><a href="multi-upload.html">Multi Upload</a>
                                                </li>
                                                <li><a href="tinymc.html">Text Editor</a>
                                                </li>
                                                <li><a href="dual-list-box.html">Dual List Box</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#Appviewsmob" href="#">App views <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                            <ul id="Appviewsmob" class="collapse dropdown-header-top">
                                                <li><a href="basic-form-element.html">Basic Form Elements</a>
                                                </li>
                                                <li><a href="advance-form-element.html">Advanced Form Elements</a>
                                                </li>
                                                <li><a href="password-meter.html">Password Meter</a>
                                                </li>
                                                <li><a href="multi-upload.html">Multi Upload</a>
                                                </li>
                                                <li><a href="tinymc.html">Text Editor</a>
                                                </li>
                                                <li><a href="dual-list-box.html">Dual List Box</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a data-toggle="collapse" data-target="#Pagemob" href="#">Pages <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                            <ul id="Pagemob" class="collapse dropdown-header-top">
                                                <li><a href="login.html">Login</a>
                                                </li>
                                                <li><a href="register.html">Register</a>
                                                </li>
                                                <li><a href="captcha.html">Captcha</a>
                                                </li>
                                                <li><a href="checkout.html">Checkout</a>
                                                </li>
                                                <li><a href="contact.html">Contacts</a>
                                                </li>
                                                <li><a href="review.html">Review</a>
                                                </li>
                                                <li><a href="order.html">Order</a>
                                                </li>
                                                <li><a href="comment.html">Comment</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
            <!-- Breadcome start-->
            <div class="breadcome-area des-none mg-b-30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcome-heading">
                                            <form role="search" class="">
												<input type="text" placeholder="Search..." class="form-control">
												<a href=""><i class="fa fa-search"></i></a>
											</form>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <ul class="breadcome-menu">
                                            <li><a href="#">INICIO</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">PERSONA</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcome End-->
            <!-- Register Start-->
            <div class="login-form-area mg-t-30 mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <form th:action="${anfora.id_anfora != null ? '/admin/actualizar' : '/admin/anfora_form_prueba'}" method="post" id="miFormulario" class="adminpro-form" th:object="${anfora}">
                            <input type="hidden" name="id" th:value="${anfora.id_anfora}" />
                            <div class="col-lg-6">
                                <div class="login-bg">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div th:replace="Layout/layout :: alert"></div>
                                            <div class="logo">
                                                <a href="#"><img src="../../../../img/logo/UAP_DIGITAL_NORMAL.webp" alt="" width="300" height="200"/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="text-align: center;">
                                        <div class="col-lg-6">
                                            <div class="login-title">
                                                <h1>Registro Anfora </h1>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="login-title">
                                                <h1><strong id="votosDetAnfora"></strong></h1>
                                                
                                            </div>
                                        </div>
                                    </div>
                                  
                                  
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="login-input-head">
                                                <p>Mesa </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <select name="mesa" style="width: 100%" id="s1" class="form-control" required onchange="mostrarImputs()">
                                                <option selected disabled></option>
                                                <option th:each="mesa : ${mesas}"
                                                        th:value="${mesa.id_mesa}"
                                                        th:text="${mesa.nombre_mesa}"
                                                        th:if="${anfora.id_anfora != null ? mesa.estado == 'COMPLETADO' : mesa.estado != 'COMPLETADO'}"
                                                        th:selected="${anfora.id_anfora != null and anfora.mesa != null and anfora.mesa.id_mesa == mesa.id_mesa}">
                                                </option>
                                            </select>                                                                                       
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="login-input-head">
                                                <p>Nivel </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <select name="nivel" id="s2" class="form-control" required onchange="mostrarImputs()">
                                                <option th:each="nivel : ${niveles}" th:value="${nivel.id_nivel}" th:text="${nivel.nombre_nivel}" 
                                                        th:selected="${anfora != null and anfora.conteo_total != null and anfora.conteo_total.nivel != null and anfora.conteo_total.nivel.id_nivel == nivel.id_nivel}">
                                                </option>
                                            </select>                                            
                                        </div>
                                    </div>
                                    <input id="cantidadV" type="hidden">
                                    <script>
                                        function mostrarImputs() {
                                            var option_value1 = document.getElementById("s1").value;
                                            var option_value2 = document.getElementById("s2").value;
                                    
                                            // Realizar la primera solicitud AJAX para obtener detalles del anfora
                                            $.ajax({
                                                type: "GET",
                                                url: "/admin/formDetalleAnfora",
                                                data: {
                                                    mesaId: option_value1,
                                                    nivelId: option_value2
                                                },
                                                success: function(response) {
                                                    $('#replace_div').html(response);
                                                },
                                                error: function(xhr, status, error) {
                                                    console.error("Error en la primera solicitud AJAX: " + xhr.responseText);
                                                }
                                            });
                                    
                                            // Realizar la segunda solicitud AJAX para obtener la cantidad de votantes
                                            $.ajax({
                                                type: "GET",
                                                url: "/admin/sacarCantidadVotanteMesa",
                                                data: {
                                                    mesaId: option_value1
                                                },
                                                success: function(response) {
                                                    $('#cantidadV').val(response);
                                                    $('#votosDetAnfora').html('        Cantidad de Votantes >> '+response); // Establece el valor del campo con la cantidad de votantes recibida
                                                },
                                                error: function(xhr, status, error) {
                                                    console.error("Error en la segunda solicitud AJAX: " + xhr.responseText);
                                                }
                                            });
                                        }
                                    </script>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="login-input-head">
                                                <p>Cantidad de Votos Blanco </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="login-input-area">
                                                <input th:field="*{cant_voto_blanco}" id="vb" name="cant_voto_blanco" placeholder="Votos Blanco" onkeyup="calcularRestaYActualizarVV()" required/>
                                                <i class="fa fa-user login-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="login-input-head">
                                                <p>Cantidad de Votos Nulos </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="login-input-area">
                                                <input th:field="*{cant_voto_nulo}" id="vn" name="cant_voto_nulo" placeholder="Votos Nulos" onkeyup="calcularRestaYActualizarVV()" required/>
                                                <i class="fa fa-user login-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="login-input-head">
                                                <p>Cantidad de Votos Validos </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="login-input-area">
                                                <input th:field="*{cant_voto_valido}" id="vv" name="cant_voto_valido" placeholder="Votos Validos" required/>
                                                <i class="fa fa-user login-user"></i>
                                            </div>
                                        </div>
                                        <!-- <input type="hidden" id="vb" name="cant_voto_habilitados"/> -->
                                    </div><br>
                                    <script>
                                        // Función para calcular la resta y actualizar vv
                                    function calcularRestaYActualizarVV() {
                                        // Obtener los valores de los campos
                                        var cantidadV = parseFloat($('#cantidadV').val());
                                        var vb = parseFloat($('#vb').val());
                                        var vn = parseFloat($('#vn').val());
                                        var vv = cantidadV - vb - vn;
                                        $('#vv').val(vv);
                                    }
                                    </script>
                                    <div class="col-md-12" id="replace_div"></div>
                                    <div class="row">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-8">
                                            <div class="login-button-pro">
                                                <button type="submit" class="login-button login-button-lg">Registrar</button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </form>
                        <!-- TABLA -->
                        <div class="data-table-area mg-b-15">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="sparkline13-list shadow-reset">
                                            <div class="sparkline13-hd">
                                                <div class="main-sparkline13-hd">
                                                    <h1>LISTA <span class="table-project-n">DE</span> FRENTES</h1>
                                                    <div class="sparkline13-outline-icon">
                                                        <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                                        <span><i class="fa fa-wrench"></i></span>
                                                        <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sparkline13-graph">
                                                <div class="datatable-dashv1-list custom-datatable-overright">
                                                    <div id="toolbar">
                                                        <select class="form-control">
                                                            <option value="">Export Basic</option>
                                                            <option value="all">Export All</option>
                                                            <option value="selected">Export Selected</option>
                                                        </select>
                                                    </div>
                                                    <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                                        data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true"
                                                        data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                                        data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                                        data-toolbar="#toolbar">
                                                        <thead>
                                                            <tr>
                                                                <th >ID</th>
                                                                <th >Frente</th>
                                                                <th >Facultad</th>
                                                                <th >Accion</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr th:each="anf, num : ${anforas}">
                                                                <td th:text="${num.count}">1</td>
                                                                <td th:text="${anf.mesa.nombre_mesa}">Web Development</td>
                                                                <td th:text="${anf.mesa.facultad.nombre_facultad}">Web Development</td>
                                                                
                                                                <td style="text-align: center;">
                                                                    <a type="button"
                                                                        th:href="${'../../../../admin/editar-anfora/'+anf.id_anfora}"
                                                                        class="btn btn-custon-rounded-three btn-success"> Editar</a>
                                                                    <!-- <a type="button"
                                                                        th:href="${'../../../../admin/eliminar_frente/'+f.id_frente}"
                                                                        class="btn btn-custon-rounded-three btn-danger"> Eliminar</a> -->
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    <!-- Footer Start-->
    <div th:replace="Layout/layout :: footer" class="footer-copyright-area">
    </div>
    <!-- Footer End-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    document.getElementById("miFormulario").addEventListener("submit", function(event) {
      event.preventDefault(); // Evitar que el formulario se envíe automáticamente

      Swal.fire({
        title: "¿Estás seguro?",
        text: "Una vez enviado, no podrás deshacer esta acción.",
        icon: "warning",
        showCancelButton: true, // Mostrar el botón de cancelar
        confirmButtonText: "Sí, enviar",
        cancelButtonText: "Cancelar", // Texto del botón de cancelar
        buttonsStyling: false, // Desactivar estilos automáticos para personalizar los botones
    
       
      })
      .then((result) => {
        if (result.isConfirmed) {
          // Si el usuario confirma, envía el formulario
          document.getElementById("miFormulario").submit();
        } else if (result.dismiss === Swal.DismissReason.cancel) {
          // Si el usuario cancela, no se hace nada
          Swal.fire("La acción ha sido cancelada.", {
            icon: "info",
          });
        }
      });
    });
</script>

    <div th:replace="Layout/layout :: scripts"></div>
    <script>
        $("#s1").select2({
         placeholder: "Seleccione Nro de Mesa...",
         allowClear: true
     });
        $("#s2").select2({
         placeholder: "Seleccione Nivel...",
         allowClear: true
     });
     </script>
</body>

</html>