<!doctype html>
<html class="../../../no-js" lang="en">

<head th:replace="Layout/layout :: head">
</head>

<body class="materialdesign">

    <!-- Header top area start-->
<BR>
    <div class="wrapper-pro">
    <!--BORRAR 3
        <div th:replace="Layout/layout :: preloader"></div>
        
        <div th:replace="Layout/layout :: left_sidebar" class="left-sidebar-pro">
     -->
        </div>
   
        <!-- Header top area start-->
        <div >

<!--BORRAR2 
            <div th:replace="Layout/layout :: header" class="header-top-area">
            </div>
    -->      
            <!-- Header top area end-->
            <!-- Breadcome start-->


<!--
    BORRAR1
            <div class="breadcome-area des-none mg-b-30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list map-mg-t-40-gl shadow-reset">

                           

                            </div>
                        </div>
                    </div>
                </div>
            </div>
-->


            <!-- Breadcome End-->
            <!-- Static Table Start -->

            <div class="data-table-area mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="sparkline13-list shadow-reset">
                                <div th:replace="Layout/layout :: alert"></div>
                                <div class="sparkline13-hd">
                                    <div class="main-sparkline13-hd">
                                        <h1>ESTADISTICA DE ELECCIONES PARA CENTRO INTERNO DE ACYT</h1>
                                        <div class="sparkline13-outline-icon">
                                            <span id="reloadButton"><i class="fas fa-redo"></i></span>
                                            <span class="sparkline13-collapse-link"><i
                                                    class="fa fa-chevron-up"></i></span>
                                            <span><i class="fa fa-wrench"></i></span>
                                            <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sparkline13-graph">
                                    <div class="datatable-dashv1-list custom-datatable-overright">


                                        <div id="chart"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="sparkline13-list shadow-reset">
                                <div th:replace="Layout/layout :: alert"></div>
                                <div class="sparkline13-hd">
                                    <div class="main-sparkline13-hd">
                                        <h1>INFORMACION ELECCION PARA CENTRO INTERNO DE ACYT</h1>

                                            
                                                                <div class="datatable-dashv1-list custom-datatable-overright">
                                                                    <!-- BORRAR 4
                                                                    <div id="toolbar">
                                                                        <select class="form-control">
                                                                            <option value="">Export Basic</option>
                                                                            <option value="all">Export All</option>
                                                                            <option value="selected">Export Selected</option>
                                                                        </select>
                                                                    </div>
-->

                                                                    <table id="table" data-toggle="table" data-pagination="true" 
                                                                        data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true"
                                                                        data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                                                        data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                                                        data-toolbar="#toolbar">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Encabezado</th>
                                                                                <th>Votos</th>
                                                                                
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>NACER-ACYT</td>
                                                                                <td >
                                                                                    <span th:text="${nacerFul}"></span>
                                                                                </td>
                                                                            </tr>
<!---
                                                                            <tr>
                                                                                <td>JURIDICA EN ACCION -ACJYP</td>
                                                                                <td >
                                                                                    <span th:text="${FulFul}"></span>
                                                                                </td>
                                                                            </tr>
     -->                                                                       
                                                                            <tr>
                                                                                <td>NULOS</td>
                                                                                <td >
                                                                                    <span th:text="${nulos}"></span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>BLANCOS</td>
                                                                                <td >
                                                                                    <span th:text="${blancos}"></span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Porcentaje de Votacion de total habilitados sobre el 100%</td>
                                                                                <td >
                                                                                    <span th:text="${totalP}"></span> %
                                                                                </td>
                                                                            </tr>

                                                                            <tr>
                                                                                <td>Cantidad de Votos</td>
                                                                                <td >
                                                                                    <span th:text="${total}"></span> 
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Votantes Habilitados</td>
                                                                                <td >
                                                                                    <span th:text="${habilitadosParaVotar}"></span> 
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Total Mesas Computadas</td>
                                                                                <td >
                                                                                    <strong style="font-size: 22px;" th:text="${'8 - 100%'}"></strong> 
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                
                                                                </div>
                                                                    
                                    
                                    </div>
                                </div>
                                <div class="sparkline13-graph">
                                    <div class="datatable-dashv1-list custom-datatable-overright">


                                        <div id="chart2"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="data-table-area mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="sparkline13-list shadow-reset">
                                <div class="sparkline13-hd">
                                    <div class="main-sparkline13-hd">
                                        <h1>LISTA <span class="table-project-n">DE</span> VOTOS NACER-ACYT POR MESAS </h1>
<!--
                                        <div class="sparkline13-outline-icon">
                                            <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                            <span><i class="fa fa-wrench"></i></span>
                                            <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                                        </div>
--->
                                    </div>
                                </div>
                                <div class="sparkline13-graph">
                                    <div class="datatable-dashv1-list custom-datatable-overright">
                                        
                                        <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                            data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true"
                                            data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                            data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                            data-toolbar="#toolbar">
                                            <thead>
                                                <tr>
                                                    <th >Nro</th>
                                                    <th >Nombre de Mesa</th>
                                                    <th >Cantidad de Votos</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="ms, num : ${votosPorMesaNacer}">

                                                    <td th:text="${num.count}">1</td>

                                                    <td th:text="${ms.nombre_mesa}"></td>

                                                    <td th:text="${ms.cant_votantes}">
                                                        
                                                    </td>
  
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-6">
                            <div class="sparkline13-list shadow-reset">
                                <div class="sparkline13-hd">
                                    <div class="main-sparkline13-hd">
                                        <h1>LISTA <span class="table-project-n">DE</span> VOTOS BLANCOS Y NULOS EN MESAS </h1>
<!--
                                        <div class="sparkline13-outline-icon">
                                            <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                            <span><i class="fa fa-wrench"></i></span>
                                            <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                                        </div>
--->
                                    </div>
                                </div>
                                <div class="sparkline13-graph">
                                    <div class="datatable-dashv1-list custom-datatable-overright">
                                        
                                        <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                            data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true"
                                            data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                            data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                            data-toolbar="#toolbar">
                                            <thead>
                                                <tr>
                                                    <th >Nro</th>
                                                    <th >Nombre de Mesa</th>
                                                    <th >Cantidad de Votos Blancos</th>
                                                    <th >Cantidad de Votos Nulos</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="ms, num : ${votosBlancosNulosPorMesas}">

                                                    <td th:text="${num.count}">1</td>

                                                    <td th:text="${ms.nombre_mesa}"></td>

                                                    <td th:text="${ms.cant_voto_blanco}">
                                                        
                                                    </td>
                                                    <td th:text="${ms.cant_voto_nulo}">
                                                        
                                                    </td>
  
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>




                        


                    </div>
                </div>
            </div>
            <!-- Static Table End -->
            <div class="data-table-area mg-b-15">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sparkline13-list shadow-reset">
                                <div class="sparkline13-hd">
                                    <div class="main-sparkline13-hd">
                                        <h1>LISTA <span class="table-project-n">DE</span> VOTOS NACER-ACYT POR CARRERA </h1>
<!--
                                        <div class="sparkline13-outline-icon">
                                            <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                            <span><i class="fa fa-wrench"></i></span>
                                            <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                                        </div>
--->
                                    </div>
                                </div>
                                <div class="sparkline13-graph">
                                    <div class="datatable-dashv1-list custom-datatable-overright">
                                        
                                        <table id="table" data-toggle="table" data-pagination="true" data-search="true"
                                            data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true"
                                            data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                            data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true"
                                            data-toolbar="#toolbar">
                                            <thead>
                                                <tr>
                                                    <th >Nro</th>
                                                    <th >Carrera</th>
                                                    <th >Cantidad de Nulos</th>
                                                    <th >Cantidad de Blancos</th>
                                                    <th >Cantidad de Votos Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="ctc, num : ${cont_total_carrera}">

                                                    <td th:text="${num.count}"></td>

                                                    <td th:text="${ctc.carrera}"></td>
                                                    <td th:text="${ctc.nulo_total}"></td>
                                                    <td th:text="${ctc.blanco_total}"></td>
                                                    <td th:text="${ctc.voto_valido_total}"></td>

                                                    </td>
  
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Static Table End -->


        </div>
    </div>
    <!-- Footer Start-->
    <div th:replace="Layout/layout :: footer" class="footer-copyright-area">
    </div>
    <!-- Footer End-->

    <div th:replace="Layout/layout :: scripts"></div>

</body>



<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


<script th:inline="javascript">
    var options = {
        series: /*[[${datos}]]*/[], 
        chart: {
            width: '100%', // Ancho establecido en el 100% del contenedor
            height: '500px', // Alto establecido en el 100% del contenedor
            type: 'pie',
        },
        labels: /*[[${frentes}]]*/[], 
        colors: /*[[${colores}]]*/[],
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: '100%'
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };
    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
</script>


<!--
<script th:inline="javascript">
   var options = {
        series: /*[[${datos}]]*/[], 
        chart: {
            width: '100%', // Ancho establecido en el 100% del contenedor
            height: '100%', // Alto establecido en el 100% del contenedor
            type: 'pie',
        },
        labels: /*[[${frentes}]]*/[], 
        colors: /*[[${colores}]]*/[],
        // Configuración para desactivar las animaciones
        animations: {
            enabled: false
        },
        // Configuración para desactivar el efecto de carga
        stroke: {
            width: 0
        },
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: '100%'
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    };

    var chart = new ApexCharts(document.querySelector("#chart2"), options);
    chart.render();
</script>

-->
<script>
    document.getElementById('reloadButton').addEventListener('click', function() {
        location.reload();
    });
</script>
</html>