<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div th:fragment="content" >
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <label for="">Facultad</label>
                    <div class="login-input-area register-mg-rt">
                        <input class="form-control" type="text" th:value="${estudiante[0]}" disabled/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <label for="">Carrera</label>
                    <div class="login-input-area register-mg-rt">
                        <input class="form-control" type="text" th:value="${estudiante[1]}" disabled/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <label for="">R.U</label>
                    <div class="login-input-area register-mg-rt">
                        <input class="form-control" type="text" th:value="${estudiante[2]}" disabled/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <label for="">Apellido y Nombres</label>
                    <div class="login-input-area register-mg-rt">
                        <input class="form-control" type="text" th:value="${estudiante[3]}" disabled/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <label for="">Mesa</label>
                    <div class="login-input-area register-mg-rt">
                        <input class="form-control" type="text" th:value="${estudiante[4]}" disabled/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <label for="">Delegado</label>
                    <div class="form-group-inner input-with-success">
                        <input th:if="${estudiante[5] != null}" class="form-control" type="text" th:value="${estudiante[5]}" disabled/>
                        <input th:if="${estudiante[5] == null}" class="form-control" type="text" th:value="${''}" disabled/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${succes != null}" th:fragment="alert_modal"  class="alert alert-danger alert-mg-b alert-st-four" role="alert">
        <span class="adminpro-icon adminpro-danger-error admin-check-pro"></span>
        <h4 class="message-mg-rt" th:text="${succes}"><strong>Alerta!</strong> Change a few things up and try submitting again.</h4>
    </div>
    
</body>
</html>