body {
    padding: 2vh;
    background-color: aliceblue;
    position: relative; /* Necesario para posicionar la imagen */
}

.watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px; /* Ajusta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    opacity: 0.1; /* Ajusta la opacidad según sea necesario */
    pointer-events: none; /* Evita que la imagen interfiera con otros elementos */
}

.container {
    max-width: 100%;
    /* Usa todo el ancho disponible */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 2rem;
}

.header-logo {
    width: 100px;
}

.header-logo-usic {
    width: 150px;
    height: 130px;
}

h1.text-center {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
}

.header-text h1 {
    margin: 0;
    font-size: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-top: 1px solid #ddd;
    color: #504f4f;
    font-size: 0.9rem;
}

.nav-tabs .nav-item .nav-link {
    cursor: pointer;
}

/* Cambia el color de fondo cuando el tab está activo */
.nav-tabs .nav-link.active {
    background-color: #007bff; /* Cambia a tu color preferido */
    color: white;
}

/* Opcional: cambia el color del texto de los tabs no activos */
.nav-tabs .nav-link {
    color: #333; /* Color de texto para tabs no seleccionados */
}

/* Opcional: cambiar el color al pasar el ratón */
.nav-tabs .nav-link:hover {
    background-color: #ff0000;
    color: #ffffff; /* Cambia a tu color preferido */
}

.tab-pane {
    padding-top: 15px;
}

#chart6,
#chart6Torta {
    width: 100%;
    height: 450px;
    
}

/* Ajusta la altura de la gráfica para adaptarse mejor a diferentes tamaños de pantalla */
#chart6Torta {
    width: 100%;
    height: 50vh;
    /* Ocupa el 50% de la altura de la pantalla en cualquier dispositivo */
    max-height: 450px;
    /* Limita la altura máxima para pantallas grandes */
}

.chart-container {
    background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con 50% de transparencia */
    padding: 10px; /* Opcional: añadir relleno para que el gráfico no quede pegado a los bordes */
    border-radius: 8px; /* Opcional: esquinas redondeadas */
}


@media (max-width: 768px) {

    .header-logo {
        width: 60px;
    }

    .header-logo-usic {
        width: 80px;
    }

    .header-container {
        text-align: center;
        padding: 10px;
    }

    h1.text-center {
        font-size: 1.3rem;
    }
}